{% load i18n %}
<ul class="navbar-nav tab-pane active" id="Main" role="tabpanel">
    <li class="menu-label mt-0 text-primary font-12 fw-semibold"><span>{% trans "Asosiy" %}</span><br><span class="font-10 text-secondary fw-normal">{% trans "Asosiy ma'lumotlar" %}</span></li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}"><i class="ti ti-home menu-icon"></i><span>{% trans "Bosh sahifa" %}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'shablon_test' %}"><i class="ti ti-book menu-icon"></i><span>{% trans "Shablon teste" %}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'marathon' %}"><i class="ti ti-flag menu-icon"></i><span>{% trans "Marafon" %}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'real_imtihon' %}"><i class="ti ti-award menu-icon"></i><span>{% trans "Real imtihon" %}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'mavzulashtirilgan' %}"><i class="ti ti-inbox menu-icon"></i><span>{% trans "Mavzulashtirilgan testlar" %}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'ohshash_savollar' %}"><i class="ti ti-refresh menu-icon"></i><span>{% trans "O'hshash savollar" %}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'saqlangan' %}"><i class="ti ti-bookmark menu-icon"></i><span>{% trans "Saqlangan testler" %}</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks' %}"><i class="ti ti-clipboard-check menu-icon"></i><span>{% trans "Vazifalar" %}</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'leaderboard' %}"><i class="ti ti-trophy menu-icon"></i><span>{% trans "Reyting" %}</span></a>
    </li>

    <li class="menu-label mt-0 text-primary font-12 fw-semibold"><span>{% trans "Qo'shimcha" %}</span><br><span class="font-10 text-secondary fw-normal">{% trans "Qo'shimcha ma'lumotlar" %}</span></li>

    <li class="nav-item"> <a class="nav-link" href="{% url 'manular' %}"> <i class="ti ti-file-text menu-icon"></i> <span>{% trans "Qo'llanma" %}</span></a>
    </li>

    <li class="nav-item"> <a class="nav-link" href="{% url 'road_signs' %}"> <i class="ti ti-alert-circle menu-icon"></i> <span>{% trans "Yo’l belgilari" %}</span></a>
    </li>

    <li class="nav-item"> <a class="nav-link" href="{% url 'contact_list' %}"><i class="ti ti-headphones menu-icon"></i><span>{% trans "Tezkor bog'lanish" %}</span></a>
    </li>
</ul>
